.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}v
.swiper-slide{
    padding-right: 0.5em;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card__botoes{
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex;
}
.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
.descricao{
    margin-right: 1.5em;
}
.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.descricao__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 1em 0;
}
.descricao__texto{
    font-size: 14px;
}
.botoes__item{
    margin: 0 0.5em;
}
.botoes__ancora{
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}
.descricao__estrelinha{
    margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 60%;
    }
    .card{
        width: 50%;
        margin: 2em auto;
    }
    .botoes__item:active{
        transform: scale(1.2);
    }
    .botoes__favorito:active{
        background-image: url("../img/Favoritos-red.png");
        background-size: contain;
    }
    .botoes__ancora:active{
        background-color: var(--azul);
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__container{
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }
    .swiper-pagination{
        margin:1em 0;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
    }
    .card {
        margin: 3.75em 2rem;
    }
    .descricao__titulo{
        font-size: 32px;
    }
    .descricao__texto{
        font-size: 16px;
    }
    .descricao__titulo-livro{
        margin: 1em 0;
    }
    .botoes__item{
        cursor: pointer;
    }
    .botoes__item:hover{
        transform: scale(1.2);
    }
    .botoes__favorito:hover{
        background-image: url("../img/Favoritos-red.png");
        background-size: contain;
    }
    .botoes__ancora:active{
        background-color: var(--azul);
    }
    .card:hover{
        transform: translateY(20px);
        transition: 1s all;
        box-shadow: 0px .5rem 1rem 0 var(--preto);
    }
    .card{
        transition: 1s all;
    }
    .swiper-slide:hover{
        transform: scale(1.05);
        transition: 1s all;
    }
    .swiper-slide{
        transition: 1s all;
    }
}